# workspace file
workspace.code-workspace

/node_modules
/package-lock.json
/yarn.lock


/.DS_Store
/node_modules
/dist
/music-player

# local env files
/.env.local
/.env.*.local
/.env.local
/.env.*.local


# Log files
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
/pnpm-debug.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
